<% provide(:title, "Edit user") %>
<% provide(:h1, "Update your profile") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, validate: true) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>