<br/><hr/>
<footer class="footer">
&copy; 2012 <%= link_to "Tyler Long", "http://tylerlong.me" %> all rights reserved.
<span class="pull-right">
<%= link_to "About", about_path %> |
<%= link_to "Contact", contact_path %>
</span>
</footer>